@use '@/shared/assets/styles/variables' as *;
@use '@/shared/assets/styles/mixins' as *;

.userCard {
  width: 100%;
  padding: 16px;
  min-height: 210px;
  border-radius: 20px;
  background-color: var(--white-20);
  overflow: hidden;
  cursor: pointer;

  &__emoji {
    font-size: 32px;
  }

  &__name {
    margin-bottom: 10px;
  }

  &__list {
    margin-left: 30px;

    &Item + &Item {
      margin-top: 5px;
    }
  }
}

.usersList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

  @include to($lg) {
    grid-template-columns: 1fr 1fr;
  }

  @include to($tablet) {
    grid-template-columns: 1fr;
  }
}
